[Unit]
Description=Hex Server

[Service]
EnvironmentFile=-/etc/default/hex
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hex
ExecStart=/hex/src/server.sh --port=3022 --workers=1 --user=hex --no-fork
WorkingDirectory=/hex/src/

[Install]
WantedBy=multi-user.target
